border-1px($color)
  position relative
  &:after
    display block
    position absolute
    left 0
    bottom 0
    width 100%
    border-top 1px solid $color
    content ''

border-none()
  &:after
    display none

bg-img($url)
  background-image url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image url($url + "@3x.png")


@keyframes move-in
  0%
    opacity 0
    transform rotate(0) translate3D(24px,0,0)
  100%
    opacity 1
    transform translate3D(0,0,0) rotateZ(180deg)

@keyframes move-out
  0%
    opacity 1
    transform rotate(0) translate3D(0,0,0)
  100%
    opacity 0
    transform translate3D(24px,0,0) rotateZ(-180deg)


